 <h1>Bem Vindo, {{name}}</h1>
<mat-card class="wrapper">
    <mat-card-header>
        <mat-card-title>
            Lista de Tarefas
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="form-field">
            <mat-label>Tarefas : </mat-label>
            <input type="text" #todo matInput placeholder="Digite sua tarefa" (keyup.enter)="addTodo(todo.value); todo.value=''">
        </mat-form-field>
        <mat-list role="list">
            <app-todo-item></app-todo-item>
        </mat-list>
    </mat-card-content>
</mat-card>